<h1> Index Page! </h1>

<% @todos.each do |todo| %>
    <li> <%= link_to todo.title, todo_path(todo.id) %></li>
<% end %>

<%= link_to "New Todo Item", new_todo_path %>

 <%= form_for(@todo, :method=> 'post', :html => {:id=>'form_id'} ) do |f| %>

  <%= label_tag(:title, "Title:") %>
  <%= f.text_field :title %></br>

  <%= label_tag(:description, "Description") %> 
  <%= f.text_area :description %></br>
<%= link_to 'submit', '#', :onclick => "document.getElementById('form_id').submit()" %>
<%= f.submit "Create" %>
<% end %>